* {
  width: 1300px;
  font-family: "Shippori Mincho", serif;
}
header {
  height: 70px;
}
.header-logo {
  text-align: right;
  font-size: 40px;
  font-family: "Amatic SC", cursive;
  color: #55bbbb;
}
.first-view {
  width: 100%;
  height: 410px;
  position: relative;
}
.first-phont {
  font-size: 64px;
  margin-left: 5%;
  position: absolute;
}
.first-phont span {
  color: #55bbbb;
}
.first-view-img {
  width: 80%;
  float: right;
}
.first-view-circle {
  width: 100px;
  height: 100px;
  position: absolute;
  line-height: 100px;
  background-color: #ff4384;
  border-radius: 50%;
  color: #fff;
  font-size: larger;
  text-align: center;
  left: 10%;
  top: 45%;
}
.first-view-p {
  color: #55bbbb;
  font-size: 25px;
  position: absolute;
  left: 20%;
  top: 45%;
}
.first-view-cost {
  font-size: 25px;
  position: absolute;
  top: 55%;
  left: 20%;
  color: #ff4384;
}
.first-view-cost span {
  font-size: 50px;
  font-weight: bold;
}
.first-view-shadow {
  display: block;
  position: absolute;
  height: 60px;
  width: 30%;
  line-height: 50px;
  background: #ff4384;
  color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 20px 0px #ff4384;
  text-decoration: none;
  text-align: center;
  top: 80%;
  left: 15%;
}
.bubble {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}
.bubble:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
}

.bubble p {
  margin: 0;
  padding: 0;
}
